/*Header nav ON News*/


header{
    background-color: rgb(29, 27, 27);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 30px 6.9%;
}
hr{
    border:1px solid rgba(29, 27, 27, 0.897);
}

form,li, a{
    color: white;
    text-decoration: none;
    
}
.cool_link::after{
    position: relative;
    top: 40.8px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(70, 178, 240);
    transition: width .3s;
}

.cool_link:hover::after{
    width: 100%;
    transition: width .3s;
}
.logo{
    width: 100px;
    opacity: 50%;
}
#header_vertical_line{
    width: 1.3px;
    height: 5%;
    margin-top: 0.5%;
    margin-left: 9%;
    position: absolute;
    background-color: rgb(43, 43, 43);
    box-shadow: 1px 1px 2px rgba(29, 29, 29, 0.986);
}
.logo2{
    width: 100px;
    margin-top:4px;
    margin-right: 280px;
    opacity: 95%;
}

.nav__links{
    list-style: none;
}
.nav__links li,form{
    display: inline-block;
    padding: 0px 20px;   
}
.nav__links a:hover{
    color:rgb(70, 178, 240);
    transition: 0.2s; 
}
.nav__links select{
    outline: none;
    border: none;
    color: white;
    background-color:rgb(29, 27, 27);
    cursor: pointer;
}
#play_now{
    width: 24%;
    margin-top: -3%;
    position: relative;
    z-index: 1;
    top: 12px;
    cursor: pointer;
    opacity: 60%;
    transition: 0.2s ease-in-out;
}
#play_now:hover{
    opacity: 100%;
}
.header_button:active{
    color: rgb(29, 27, 27);
}
.header_button:hover{
    background-color: rgb(4, 142, 184)
}
/*Section news content ON News*/
.news_content{
    height: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.items_news{
    width: 100%;
    margin-top:2%;
}

.items{
    display:flex;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.item{
    flex:none;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
    pointer-events: none;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Section news content ON News END */