

/*Header nav*/
header{
    background-color: rgb(29, 27, 27);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 30px 6.9%;
}
hr{
    border:1px solid rgba(29, 27, 27, 0.897);
}

form,li, a{
    color: white;
    text-decoration: none;
    
}
.cool_link::after{
    position: relative;
    top: 40.8px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(70, 178, 240);
    transition: width .3s;
}

.cool_link:hover::after{
    width: 100%;
    transition: width .3s;
}
.logo{
    width: 100px;
    opacity: 50%;
}
#header_vertical_line{
    width: 1.3px;
    height: 5%;
    margin-top: 0.5%;
    margin-left: 9%;
    position: absolute;
    background-color: rgb(43, 43, 43);
    box-shadow: 1px 1px 2px rgba(29, 29, 29, 0.986);
}
.logo2{
    width: 100px;
    margin-top:4px;
    margin-right: 280px;
    opacity: 95%;
}

.nav__links{
    list-style: none;
}
.nav__links li,form{
    display: inline-block;
    padding: 0px 20px;   
}
.nav__links a:hover{
    color:rgb(70, 178, 240);
    transition: 0.2s; 
}
.nav__links select{
    outline: none;
    border: none;
    color: white;
    background-color:rgb(29, 27, 27);
    cursor: pointer;
}
#play_now{
    width: 24%;
    margin-top: -3%;
    position: relative;
    z-index: 1;
    top: 12px;
    cursor: pointer;
    opacity: 60%;
    transition: 0.2s ease-in-out;
}
#play_now:hover{
    opacity: 100%;
}
.header_button:active{
    color: rgb(29, 27, 27);
}
.header_button:hover{
    background-color: rgb(4, 142, 184)
}
/*Header nav END*/

/*background to ajust the bug of the border video white*/
.background_just{
    z-index: -1;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
/*Background ajust END*/


/*Video section, background, and content*/
.video_content{
    background-size: cover;
}

.video_logo_and_button{
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 52%;
    transition: 0.2s all cubic-bezier(0, 0.74, 0.58, 1);
}
.video_logo_and_button:hover{
    transform: scale(1.2);
}

.video_logo_and_button button{
    position: relative;
    display: block;
    left: 33%;
    background: none;
    outline: none;
    border: none;
}
.video_logo_and_button input{
    margin-top: 4px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(70, 182, 255);
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.733);
    transition: 0.2s all cubic-bezier(0, 0.74, 0.58, 1);
}
.video_logo_and_button input:hover{
    transform: scale(1.2);
    background-color: rgb(4, 142, 184)
}
.video_logo_and_button input:active{
    color: rgb(29, 27, 27);
}
.video_border{
    z-index: 1;
    width: 78%;
    height: 630px;
    position: absolute;
    border: 1px outset rgba(119, 119, 119, 0.61);
    left: 163px;
    top: 120px;
}
.video_background{
    position: absolute;
    width: 100%;
    filter: blur(10px);
    z-index: -1;
}
.video_up{
    position: relative;
    top: 30px;
}
.video_trailer{
    width: 80%;
    margin-left: 11%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.788);
}
/*Video section END*/

.news_content{
    width: 100%;
    height: 230px;
    background-color: rgb(243, 243, 243);
    z-index: 1;
    margin-top: 1%;
    transition: 0.4s;
}
#link__new{
    color:rgb(70, 182, 255);
    transition: 0.2s ease-in-out;
}
#link__new:hover{
    color:rgb(4, 142, 184);
    text-decoration: underline;
}
#link__new:link:visited{
    color: rgb(29, 27, 27);
}
#link___new:active{
    color:rgb(145, 20, 3)
}
.arrow_box{
    position: absolute;
    margin-top: 22%;
    z-index: 1;
    left: 49%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    transition: 0.14s ease-in-out;
}
.arrow_box:hover{
    margin-top: 21.2%;

}
#arrow_close{
    width: 26px;
}
.news_content #news_tittle{
    letter-spacing: 1.5px;
    color: rgb(29, 27, 27);
    margin-bottom: 1%;
    transform: rotate(180deg);
    display: inline;
    writing-mode:vertical-lr;
    transition: 0.2s ease-in-out;
}
.news_content #news_tittle:hover{
    letter-spacing: 5px;
    margin-bottom: 0%;
}

.news_content #read_more{ 
    letter-spacing: 1.5px;
    color: rgb(29, 27, 27);
    margin-bottom: -1.2%;
    position: relative;
    transform: rotate(360deg);
    display: inline;
    margin-left: 98%;
    bottom: 152%;
    writing-mode:vertical-lr;
    z-index:1;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.news_content #read_more:hover{
    letter-spacing: 5px;
    bottom: 160%;
}
.news_content .new_1{
    margin-top: 4%;
    background: none;
    outline: none;
    border: 1px outset rgba(51, 51, 51, 0.233);
    display: inline;
    width: 260px;
    height: 120px;
    padding: 1%;
    margin-left: 2%;
    border-bottom: 0px 20px 0px 0px;
}
.news_content .img1{
    width: 120px;
    height: 100px;
    border-radius: 2px;
    position: relative;
    left: -60px;
    top: -2px;
    transition: 0.2s all cubic-bezier(0, 0.74, 0.58, 1);
}

.news_content .img1:hover , .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover{
    transform: scale(1.1);
}  
.news_content .p1{
    width: 20%;
    display: inline;
    color: black;
    position: absolute;
    margin-top: 4.8%;
    margin-left: -9%;
}
/*part 2*/

.news_content .new_2{
    margin-top: 4%;
    background: none;
    outline: none;
    border: 1px outset rgba(51, 51, 51, 0.233);
    display: inline;
    width: 260px;
    height: 120px;
    padding: 1%;
    margin-left: 14%;
    border-bottom: 0px 20px 0px 0px;
}
.news_content .img2{
    
    width: 120px;
    height: 100px;
    border-radius: 2px;
    position: relative;
    left: -60px;
    top: -2px;
    transition: 0.2s all cubic-bezier(0, 0.74, 0.58, 1);
}

.news_content .p2{
    width: 20%;
    display: inline;
    color: black;
    position: absolute;
    margin-top: 4.8%;
    margin-left: -9%;
    
}
/*part 3*/
.news_content .new_3{
    margin-top: 4%;
    background: none;
    outline: none;
    border: 1px outset rgba(51, 51, 51, 0.233);
    display: inline;
    width: 260px;
    height: 120px;
    padding: 1%;
    margin-left: 14%;
    border-bottom: 0px 20px 0px 0px;
    
}
.news_content .img3{
    width: 120px;
    height: 100px;
    border-radius: 2px;
    position: relative;
    left: -60px;
    top: -2px;
    transition: 0.2s all cubic-bezier(0, 0.74, 0.58, 1);
}

.news_content .p3{
    width: 14%;
    display: inline;
    color: black;
    position: absolute;
    margin-top: 4.8%;
    margin-left: -9%;
    
}

.news_content .img4{
    width: 120px;
    height: 100px;
    border-radius: 2px;
    position: relative;
    left: -58px;
    top: -2px;
    transition: 0.2s all cubic-bezier(0, 0.74, 0.58, 1);
}

.news_content .new_4{
    display: inline;
    padding: 1% calc(-4px);
    width: 260px;
    outline: none;
    display: inline;
    margin-top: 8%;
    margin-left: 4%;
    background: none;
    border:1px outset rgba(51, 51, 51, 0.233) ;
}
.news_content .p4{
    width: 14%;
    display: inline;
    color: black;
    position: absolute;
    margin-top: 8.8%;
    margin-left: -9%;
}

.news_content .new_5{
    display: inline;
    padding: 1% calc(-4px);
    width: 260px;
    outline: none;
    display: inline;
    margin-top: 8%;
    margin-left: 14%;
    background: none;
    border:1px outset rgba(51, 51, 51, 0.233) ;
}

.news_content .img5{
    width: 120px;
    height: 100px;
    border-radius: 2px;
    position: relative;
    left: -58px;
    top: -2px;
    transition: 0.2s all cubic-bezier(0, 0.74, 0.58, 1);
}

.news_content .p5{
    width: 14%;
    display: inline;
    color: black;
    position: absolute;
    margin-top: 8.8%;
    margin-left: -9%;
}

.news_content .new_6{
    display: inline;
    padding: 1% calc(-4px);
    width: 260px;
    outline: none;
    display: inline;
    margin-top: 8%;
    margin-left: 14%;
    background: none;
    border:1px outset rgba(51, 51, 51, 0.233) ;
}
.news_content .p6{
    width: 14%;
    display: inline;
    color: black;
    position: absolute;
    margin-top: 8.8%;
    margin-left: -9%;
}
.news_content .img6{
    width: 120px;
    height: 100px;
    border-radius: 2px;
    position: relative;
    left: -58px;
    top: -2px;
    transition: 0.2s all ease-in-out;
}


    
#line_ajust{
    width: 100%;
    height: 5%;
    background-color: rgb(243, 243, 243);
    position: relative;
    bottom: 190px;
    z-index: 1;
    transition: 0.35s all ease-in-out

}
.universe_content{
    background-color: black;
    height: 400px;
    
}
#background_video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 400px;
    filter: blur(2px);
}

.content_img video{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.568);
    width: 400px;
    margin-top: 11px;
    margin-left: 20%;
    border-radius: 2px;
    position: relative;
    right: 60px;
    transition: 0.2s all cubic-bezier(0, 0.74, 0.58, 1);
    overflow: hidden;
    
}

.content_img video:hover{
    transform: scale(1.4);
    
}
.img_border_content{
    position: relative;
    width: 430px;
    height: 250px;
    display: inline-block;
    border: 1px solid rgba(105, 105, 105, 0.466);
    margin-left: 50px;
    left: 140px;
    top: 60px;
    
}
.items_contents .spr_dragon{
    width: 500px;
    position: relative;
    bottom: 120px;
    right: 65px;
}

/*Section 4 Items content*/
.items_contents{
    width: 100%;
    height: 1800px;
    background-image: url(../img/background/Background_black.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    position: relative;
}

.items_contents h1{
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    position: relative;
    margin-left: 36%;
    bottom: 200px;
    color: white;
    font-size: 30pt;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
    letter-spacing: 2px;
}
/*Item content - Box 1 */
.box_1{
    position: absolute;
    margin-left:6%;
}
.items_contents #first_tittle{
    letter-spacing: 2px;
    font-weight: normal;
    margin-left: 4%;
    margin-bottom: 2%;
}

.items_contents #first_p{
    width: 20%;
    position: relative;
    margin-left: 4%;
    z-index: 1;
}

.items_contents .space_ship{
    position: relative;
    display: inline;
    bottom: 230px;
    width: 70%;
    margin-top: 2%;
    margin-left: 1%;
    z-index: 1;
}
/*Item content - Box 2 */
.box_2{
    display: inline-block;
    position: relative;
    margin-top: 2%;
    
}
#video_test{
    float: left;
    width: 43%;
    position: relative;
    margin-left: 45%;
    bottom: 328px;
    border-radius: 2px;
}
#video_story_1{
    float: right;
    position: relative;
    width: 43%;
    margin-top: 32%;
    margin-right: 12%;
    border-radius: 2px;
    
}
.items_contents #second_tittle{
    letter-spacing: 2px;
    font-weight: normal;
    margin-left: 50% ;
    letter-spacing: 2px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.items_contents #second_p{
    width: 20%;
    margin-left: 50%;
    display: inline-block;
}


.items_contents .knight{
    position: relative;
    margin-left: 70%;
    display: inline-block;
    bottom: 300px;
}
/*Itm content - Box 2 END*/


/*Item content - Box 3 */

.box_3{
    display: inline-block;
    position: relative;
    bottom: 663px;
    margin-left: 9%;
}

.items_contents #thirsty_tittle{
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 2%;
}
.items_contents #thirsty_p{
    position: relative;
    width: 20%;
    z-index: 1;
}
.items_contents .group_knight{
    position: relative;
    bottom: 230px;
    width: 20%;
    margin-left: 15%;
}
/*Item content Box 3 END*/

.box_4{
    display: inline-block;
    position: relative;
    margin-left: 50%;
    bottom: 760px;
}

.items_contents #fourty_tittle{
    letter-spacing: 2px;
    margin-bottom: 2%;
    font-weight: normal;
}

.items_contents #fourty_p{
    width: 40%;
    z-index: 1;
    position: relative;
}

.items_contents .knights_friends{
    width: 90%;
    position: absolute;
    bottom: 5px;
    margin-left: 5%;
}

/*Carousel section*/

.modes_content{
    background-image: url(../img/background/Background_modes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 600px;
    background-color: rgb(29, 29, 29);
    transition: 0.3s ease-in-out;
    position: relative;
}
#btest{
    width: 100%;
    height: 600px;
    position: absolute;
    opacity: 0%;
    background-color:rgb(24,24,24);
    transition: 0.3s ease-in-out;
}
.modes_header{
    position: relative;
    margin-left: 43%;
    top: 15px;
    
}
.modes_header h1{
    letter-spacing: 5px;
    font-weight: normal;
    font-family: 'Staatliches', cursive;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.712);
    color: white;
}
.modes_box{
    margin-left: 20%;
    position: relative;
    transition: 0.2s ease-in-out;
    
}
.modes_content #mode1, #mode2, #mode3{
   width: 25%;
   height: 420px;
   margin-top: 4.3%;
   border-radius: 2px;
   transition: 0.2s ease-in-out;
   overflow: hidden;
}
#mode1:hover,#mode2:hover,#mode3:hover{
    transform: scale(1.1);
    opacity: 100%;
}

#mode1{
    position: absolute;
    margin-left: 8%;
}
#mode2{
    position: absolute;
    margin-left: 4%;
    opacity: 60%;
}
#mode3{
    position: absolute;
    opacity: 30%;
}
#mode_tittle{
    margin-top: 4.2%;
    margin-left: 50%;
    font-weight: normal;
}
#mode_p{
    margin-left: 49%;
    margin-top: 1%;
    width: 20%;
    position: absolute;
    z-index: 1;
}
#mode_p a{
    color:rgb(70, 182, 255);
    transition: 0.2s ease-in-out;
}
#mode_p a:hover{
    color:rgb(4, 142, 184);
    text-decoration: underline;
}

.close_bt img{
    margin-left: 25%;
    top: 7%;
    position: absolute;
    transition: 0.2s ease-in-out;
}
#kromo{
    width: 500px;
    position: relative;
    left: 520px;
    z-index: 1;
    top: -100px;
    opacity: 60%;
    transition: 0.2s ease-in-out;
}

#xbt{
    display: none;
    width: 20px;
    height: 20px;
}
.close_bt #xbt:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/*Carousel section END*/

/*Footer*/

footer{
    background-color:rgb(26, 26, 26);
}


.footer_links {
    display: inline;
    margin-left: 1%;
    color: white;   
}
.footer_links img{

    top: 3px;
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
}
.footer_terms{
    margin-left: 18%;
    display: inline;

}
.footer_terms #vertical_line{
    text-align: center;
    border-left: 2px solid;  
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
}
footer hr{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.521); 
    margin-top: 4%;
    width: 90%;
    margin-left: 5%;
    
}
.footer_questions a{
    margin-left:100px;
    margin-top: 5%;
    color: white;
    position: relative;
}
.copyright{
    z-index: -1;
    display: inline-block;
    width: 100%;
    height: 120px;
}
.copyright span{
    display: block;
    margin-top:2%;
}


/*Footer END*/